# Brainstorming companion artifacts
.superpowers/

# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Production / Vercel
.vercel

# Env
.env*.local
.env

# Logs & OS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem

# Testing
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts
